*{
  margin: 0px;
  padding: 0px;
}
body {font-family: Arial;}

.loader {

  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: url('https://static.dribbble.com/users/5484/screenshots/2145786/for_dribbble.gif') 50% 50% no-repeat rgb(249,249,249);
}

.loginLink{
  color: white;
  padding: 5px;
  text-decoration-style: none;
  position: relative;
  left:90%;
}

.loginLink:hover{
  text-decoration: none;
  color: white;
}

.loginButton{
  
  font-size: 16px;
  font-weight: 700;
  
  
  box-shadow: 1px 2px 4px 2px #2c2c2c8a;
}

/* Style the buttons inside the tab */
.tabButton {
  background-color: inherit;
    font-weight: 700;
    font-size: 14px;
  border:none;
  outline: none;
  cursor: pointer;
  text-align:center;
  transition: 0.3s;
  padding: 5px;
  padding-left: 97px;
  padding-right: 97px;
  margin-left: 5px;
  
}


/* Change background color of buttons on hover */
.tabButton:hover {
  background-color: white;
  border-radius: 5px;

}

.tabButton:visited {
  
  border-radius: 5px;
  border: none;
}

/* Create an active/current tablink class */
.tabButton.active {
  background-color: white;
 border-radius: 5px; 
}

/* Style the tab content */
.tabcontent {
  padding: 30px 90px;
 display: block;
 /* display: flex; */
 border-top: none;
 width: 30%;
 margin: 2% 6%;
 
 border-radius: 8px;
  background-color: #1ca4b6 ;
  max-height: fit-content;
}

.tabcontent > div{
  
margin: 5% 7%;

text-decoration-style: none;
  box-shadow: 3px 4px 6px 4px #2c2c2c8a;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  line-height: 50px;
  color: white;
}

.a-text{
  margin: 3%;
}

.login-form{
  width:30%;
  position: absolute;
  margin:16% 1% 6% 0%;
  top:0%;
  left:60%;
}

/* .tabcontent > .tabcontent_info1{
  margin-right: 40px;
}

.tabcontent > .tabcontent_info2{
  margin-right: 40px;
} */



.addGrievances > p > a:hover{
  text-decoration: none;
  color: brown;
}

.addGrievances{
  text-align: center;
  text-decoration-style: none;
  font-size: 20px;
  font-weight: 700;
}
/* Style the close button */
/* .topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
} */

#sideBar_button{
  display: none ;
}

.sideBar_closebutton{
  display: none;
}

.tabList{
    margin:1%;
    border-radius:6px;
    border:none;
    overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* .topright:hover {color: red;} */




 @media screen and (max-width:1352px) 
{
 
  .tabcontent {
    padding: 30px 50px;
   
   display: flex;
   border-top: none;
   width: 80%;
   margin: 2% 10% ;
   
   border-radius: 8px;
    background-color: #1ca4b6 ;
    max-height: fit-content;
  }

  .login-form{
    width:80%;
    position: relative;
    top: 0%;
    left: 0%;
    margin:2% 10%;
  }

  .a-text{
    margin: 6%;
    width: 80%;
  }

  .tabcontent > div{
  
    margin: 2% 3%;
    
    text-decoration-style: none;
      box-shadow: 3px 4px 6px 4px #2c2c2c8a;
      border-radius: 10px;
      padding: 10px 20px;
      text-align: center;
      line-height: 50px;
      color: white;
    }
  
  /* .tabButton {
    background-color: inherit;
      font-weight: 700;
      font-size: 14px;
      display: inline;
    border:none;
    outline: none;
    cursor: pointer;
    text-align:center;
    transition: 0.3s;
    padding: 5px;
    padding-left: 6.3%;
    padding-right: 6.3%;
    margin-left: 5px;
    
  } */
}

/*@media screen and (max-width:1108px) 
{
  
  .tabButton {
    background-color: inherit;
      font-weight: 700;
      font-size: 14px;
    border:none;
    outline: none;
    cursor: pointer;
    text-align:center;
    transition: 0.3s;
    padding: 5px;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 5px;
    
  }

  .tabcontent > div{

    margin: 20px 55px;
    text-decoration-style: none;
      box-shadow: 3px 4px 6px 4px #2c2c2c8a;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      line-height: 50px;
      color: white;
    }
}

@media screen and (max-width:1200px) 
{
 
  .tabButton {
    background-color: inherit;
      font-weight: 700;
      font-size: 12px;
    border:none;
    outline: none;
    cursor: pointer;
    text-align:center;
    transition: 0.3s;
    padding: 5px;
    padding-left: 5.8%;
    padding-right: 5.8%;
    margin-left: 5px;
    
  }
} */

 @media screen and (max-width:904px)
{
  .tabcontent {
    padding: 30px 50px;
   
   display: block;
   border-top: none;
   width: 80%;
   margin: 2% 10% ;
   
   border-radius: 8px;
    background-color: #1ca4b6 ;
    max-height: fit-content;
  }

  

  

  

  
}

 @media screen and (orientation:protrait),(max-width:480px)
{
  .tabcontent {
    padding: 30px 40px;
   display: block;
   /* display: flex; */
   border-top: none;
   width: 80%;
   margin: 2% 10% ;
   
   border-radius: 8px;
    background-color: #1ca4b6 ;
    max-height: fit-content;
  }

  .a-text{
    margin: 6%;
  }
  
 }  